body { /*background-color: #E5E6E6;*/
  background-color: #fff;
  background-image:
  linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
  linear-gradient(#eee .1em, transparent .1em);
  background-size: 100% 1.2em;
}
#logo { color: #EE82EE; font-family: 'Finger Paint', cursive; font-size: 150px; text-align: center;}
#panel { text-align:center; font-family: 'Finger Paint', cursive;}
#panel a {color: #660198}
#panel a:hover{color:#BF3EFF}
#therock { text-align:center; text-align:center; font-family: 'Finger Paint', cursive;}
a {text-decoration:none;}
